
.header{
    padding: 12px 24px;
    background:#e62536;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    
}
.logo{
    margin-left: 5px;
    
}
body{
    background: rgba(255,207,195,.8);
}
.projects, .period{
    position: absolute;
    left:0;
    right: 0;
    background: rgba(244,67,54,.8);
}
input{
    background: rgba(255,225,225,.9);
    position: relative;
    width: 3.3em;
    height: 3.3em;
    float: right;
    border-radius: 100%;
}
footer{
    background-color: rgba(0,0,0,.3);
}